* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
/* utility class */
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: unset;
}
p {
  font-size: 1em;
}
.margin-top-2em {
  margin-top: 2em;
}

.button {
  padding: 5px 10px;
  background-color: #0061fe;
  color: white;
}

/* regole pagina */
.nav-bar-container {
  background-color: white;
  width: 100%;
  position: fixed;
  z-index: 900;
  display: flex;
  height: 40px;
  justify-content: flex-start;
  align-items: center;
}
.nav-bar-container img {
  max-width: 100%;
  padding: 5px 10px;
}
.nav-bar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.nav-bar ul {
  display: flex;
}
.nav-bar li {
  padding: 0 1em;
  display: flex;
  align-items: center;
  font-size: 1em;
  color: gray;
}
.nav-bar li:hover {
  border-bottom: 2px solid black;
}
.jumbotron-container {
  background-color: #b4d0e6;
  width: 100%;
}
.jumbotron {
  width: 85%;
  padding-top: 100px;
  margin: 0 auto;
}
.main-jumbo {
  display: flex;
  justify-content: space-between;
}
.description-jumbo {
  width: 30%;
  padding-top: 70px;
}

.img-jumbo {
  width: 70%;
  position: relative;
  top: 70px;
}
img {
  max-width: 100%;
}
.download-jumbo {
  margin-top: 2.5em;
  font-size: 3em;
  color: black;
}
.title-jumbo {
  font-size: 5em;
  font-weight: bold;
}
footer {
  background-color: black;
  width: 100%;
}
.container-footer {
  margin: 0 auto;
  width: 85%;
  color: white;
}
.list-footer {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  line-height: 2em;
}
.list-footer h3 {
  font-size: 1.5em;
  margin-bottom: 1.5em;
  font-weight: bold;
}
.end-bar p {
  padding: 20px 0;
  border-top: 2px solid white;
}
.categoria {
  width: calc(80% / 5);
}
.wrapper {
  padding-top: 100px;
  margin: 0 auto;
  width: 70%;
}

h2 {
  font-size: xx-large;
}
.tipo-fatturazione {
  padding: 2em 0;
  display: flex;
}
.tipo-fatturazione li {
  margin-right: 2.5em;
}

.tipo-fatturazione span {
  border-radius: 50%;
  padding: 5px;
  font-size: 0;
  vertical-align: middle;
}
.tipo-fatturazione .selezionato {
  border: 4px solid blue;
  padding: 3px;
}
.tipo-fatturazione .non-selezionato {
  border: 2px solid gray;
}
.container-card-piani {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.card-piano {
  width: 31%;
  border: 1px solid gray;
}
.title-card-piano {
  text-align: center;
  padding: 5px 0;
  border-bottom: 1px solid gray;
  font-size: medium;
  font-weight: 500;
}
.piano {
  padding: 30px 15px;
}
.tipo-piano {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 15px;
}
.prezzo {
  font-size: medium;
  font-weight: bold;
  margin-bottom: 8px;
}
.piano .condizioni-piano {
  font-size: small;
  font-weight: 200;
  color: gray;
  margin-bottom: 2em;
}
.piano td.icon {
  vertical-align: top;
  font-size: large;
  font-weight: bold;
}
.piano td {
  padding-bottom: 20px;
}
.piano .button {
  margin: 2em 0;
  text-align: center;
}
.piano .acquista-ora {
  color: blue;
  text-decoration: underline;
}
.piano .divisory {
  color: gray;
  padding: 10px;
}
.piano .title-list-punti-salienti {
  padding: 15px 0;
  font-size: medium;
  font-weight: bold;
}
.piano .list-punti-salienti td.icon {
  color: blue;
  font-weight: bolder;
}
.main-card {
  margin: 40px 0;
  border: 1px solid gray;
}
.main-card .contact {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 30px;
}
.contact .prezzo {
  margin-bottom: 3em;
}
.contact .description-piano {
  width: 70%;
}
.partner {
  padding: 200px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.partner .img-partner {
  width: 65%;
}
.partner img {
  max-width: 100%;
}
.partner .description-partner {
  width: 32%;
  padding-top: 50px;
}
.partner .description-partner a {
  padding: 5px 15px;
  border: 2px solid gray;
}
.description-partner div {
  margin-top: 2em;
}

.tipo-operazioni-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 4em;
}
.card-operazione {
  width: 30%;
  padding-bottom: 4em;
}
.card-operazione img {
  max-width: 100%;
}
