* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
/* utility class */
.button {
    padding: 5px 10px;
    background-color: blue;
    color: white;
}

/* regole pagina */
.nav-bar-container {
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 900;
    display: flex;
    height: 40px;
    justify-content: flex-start;
    align-items: center;
}
.nav-bar-container img {
    max-width: 100%;
    padding: 5px 10px;
}
.nav-bar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.nav-bar ul {
    display: flex;
}
.nav-bar li {
    padding:0 1em;
    display: flex;
    align-items: center;
}
.nav-bar li:hover {
    border-bottom: 2px solid black;
}